#kfPillContainer {
  height: 48px;
  margin: 10px 20px;
  position: fixed;
  z-index: 9999;
}

#kfPill {
  -khtml-user-select: none;
  -moz-font-smoothing: grayscale;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  border-radius: 999px;
  color: #fff;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
  text-align: center;
  transform: translateZ(0);
  user-select: none;
  vertical-align: middle;
}

@keyframes slide-up {
  from {
    margin-top: 58px;
  }

  to {
    margin-top: 0;
  }
}

@keyframes slide-down {
  from {
    margin-top: -58px;
  }

  to {
    margin-top: 0;
  }
}

#kfModal {
  -moz-transition: opacity .5s ease-in;
  -ms-transition: opacity .5s ease-in;
  -o-transition: opacity .5s ease-in;
  -webkit-transition: opacity .5s ease-in;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100%;
  left: 0;
  opacity: 1;
  overflow: auto; 
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}

#kfModal * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#kfModal.kfSuccess {
  opacity: 0;
}

#kfModalContent {
  background-color: #fefefe;
  border: 1px solid #888;
  font-family: Helvetica, Arial, sans-serif;
  margin: 5% auto;
  min-width: 300px;
  width: 30%;
}

#kfModalContent form {
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  color: #666;
  font: 13px/1.55 Helvetica, Arial, sans-serif;
  margin: 0;
  outline: none;
}

#kfModalContent header {
  background: rgba(248, 248, 248, .9);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  color: #232323;
  font-size: 25px;
  font-weight: 300;
  padding: 20px 30px;
}

#kfModalContent fieldset {
  background: #fefefe;
  border: none;
  display: block;
  padding: 25px 30px 5px;
}

#kfModalContent section {
  margin-bottom: 20px;
}

#kfModalContent .kfField {
  background:#fff;
  border-color: #a7a7a7;
  border-style: solid;
  border-width: 1px;
  color: #404040;
  font: 15px/19px Helvetica, Arial, sans-serif;
  outline: none;
  padding: 8px 10px;
  width: 100%;
}

#kfModalContent input {
  height: 39px;
}

#kfModalContent input:disabled,
#kfModalContent textarea:disabled {
  background: #EBEBE4;
  color: rgb(84,84,84);
}

#kfModalContent .kfLoading:disabled {
  cursor: wait; 
}

#kfModalContent .kfLoading.kfDone:disabled {
  cursor: not-allowed; 
}

#kfModalContent textarea {
  height: auto;
  resize: none;
}

#kfModalContent footer {
  background: rgba(248, 248, 248, .9);
  border-top: 1px solid rgba(0, 0, 0, .1);
  display: block;
  overflow:hidden;
  padding: 15px 30px 25px;
}

#kfModalContent footer button {
  border: 0;
  color: #fff;
  cursor: pointer;
  float: right;
  font: 500 15px/39px Helvetica, Arial, sans-serif;
  height: 39px;
  margin: 10px 0 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  text-decoration: none;
}

#kfLogo {
  color: #ddd;
  float: left;
  font: 500 12px Helvetica, Arial, sans-serif;
  letter-spacing: .02em;
  margin: 35px 0 0 4px;
  text-decoration: none;
}

#kfLogo:hover {
  color: #999;
}

#kfCanary {
  display: none;
}

.kfRequirements,
#kfError {
  color: red;
  font-style: italic;
  max-height: 0;
  overflow: hidden;
  padding: 0 10px;
  transition: 0.28s;
}

#kfError {
  float: left;
  margin: 10px 0 0 0;
  width: 50%;
}

.kfInvalid + .kfRequirements,
#kfError.kfShow {
  max-height: 100px;
}
